@model MyPortalAgency.Areas.Administrator.Models.PageContentViewModel

@{
    ViewData["Title"] = "OurStory";
}


<span class="alternative-font">Our Story</span>
<br />

<div class="row">
    <div class="col-lg-12">
        <div id="errorfrom"></div>
        <div id="ajax-panel"></div>

        <form action="/" id="frmOurStory" class="form-horizontal form-bordered">
            <section class="card">
                <input type="hidden" name="ID" id="ID" value="@Model.Id" />
                <input type="hidden" name="PageViewModelId" id="PageViewModelId" value="@Model.PageViewModelId" />
                <input type="hidden" name="Type" id="Type" value="@Model.Type" />
                <input type="hidden" name="Logo" id="Logo" value="" />
                <input type="hidden" name="Title" id="Title" value="" />
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-4 control-label text-sm-left  pt-2">Your Description:</label>
                        <div class="col-sm-8">
                            <textarea type="text" id="Description" name="Description" class="form-control">@Model.Description</textarea>
                        </div>
                    </div>
                </div>
                <footer class="card-footer text-right">
                    <input type="submit" id="submit" value="submit" class="btn btn-primary float-right mb-5" data-loading-text="Loading...">

                </footer>
            </section>
        </form>
    </div>
</div>