
@{
    ViewData["Title"] = "Index";
}

@section pageheader{
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Career</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col p-static">
                    <span class="page-header-title-border visible" style="width: 196.703px;"></span>
                    <div id="Title"></div>
                </div>
            </div>
        </div>
    </section>
}
<div class="container">
        <div id="Description"></div>
 </div>

<div class="container">

    <h2>Make <strong>Career</strong> with us</h2>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                We are on a mission to empower companies to make real-time decisions, and to predict their future.
                If you are innovative, results-driven, and a team player, make a real-time decision that will predict your future to be dynamic and rewarding.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="toggle toggle-primary mt-lg" data-plugin-toggle="">
                <section class="toggle">
                    <label>Android Developer</label>
                    <div class="toggle-content">
                        <p><strong>Experience : </strong>1 – 3 years</p>
                        <p><strong>Positions : </strong> 3</p>
                        <p><strong>Description : </strong> We are looking for an Android Developer to work with our team of talented developers to design and build the next generation of mobile applications. As the mobile developer you will be responsible for the design/build of advanced applications for Android platforms. You will work with outside API’s and data sources, perform unit testing, troubleshoot/debug apps, and participate in Agile/SCRUM meetings. Design and build advanced applications for the Android platform. Collaborate with cross-functional teams to define, design new features. Unit-test code for robustness, including usability, and general reliability. Continuously discover, evaluate, and implement new technologies to maximize development efficiency.</p>
                        <p><strong>Send your updated CV on: </strong><a href="mailto:career@shineinfosoft.in">career@shineinfosoft.in</a></p>
                    </div>
                </section>
                <section class="toggle">
                    <label>.Net Developer</label>
                    <div class="toggle-content">
                        <p><strong>Experience : </strong>1 – 3 years</p>
                        <p><strong>Positions : </strong> 3</p>
                        <p><strong>Description : </strong> elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra. </p>
                        <p><strong>Send your updated CV on: </strong><a href="mailto:career@shineinfosoft.in">career@shineinfosoft.in</a></p>
                    </div>
                </section>
                <section class="toggle">
                    <label>Xamarin Developer</label>
                    <div class="toggle-content">
                        <p><strong>Experience : </strong>1 – 5 years</p>
                        <p><strong>Positions : </strong> 3</p>
                        <p><strong>Description : </strong> elit velit, lobortis sed interdum at, vestibulum vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis ligula ut ipsum mattis viverra. </p>
                        <p><strong>Send your updated CV on: </strong><a href="mailto:career@shineinfosoft.in">career@shineinfosoft.in</a></p>
                    </div>
                </section>
                <section class="toggle">
                    <label>Business Development Executive</label>
                    <div class="toggle-content">
                        <p><strong>Experience : </strong>1 – 5 years</p>
                        <p><strong>Positions : </strong> 3</p>
                        <p><strong>Description : </strong> Responsible for Requirement Gathering, Analysis, documenting, communicating with customers and building Bridge between Developer and Customer. Preparing Requirement Specification Document and Functional Requirement Specification Document, Business Requirement Document. Client Interaction with domestic and international client. Project kick off meeting with development team &amp; client, Prepare mock up and prototype model. Project management/Concept development/Client Orientation/Change Management. Prepare proposal based on estimation and send it to client.</p>
                        <p><strong>Send your updated CV on: </strong><a href="mailto:career@shineinfosoft.in">career@shineinfosoft.in</a></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>