
@{
    ViewData["Title"] = "Index";
}

@section pageheader{
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Career</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col p-static">
                    <span class="page-header-title-border visible" style="width: 196.703px;"></span>
                    <div id="Title"></div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts{
    <script>
        Models.push(
            new Model("OurCareers", "OurCareers", "render_OurCareers"),
            new Model("OurJobs", "OurJobs", "render_OurJobs"),
        );
        call('https://localhost:44380/PageView/GetPages/', 'GET', { id: '7B82B43B-6F89-4884-ADAB-733387871EE4' }, Models);

    </script>

}



<div class="container">
    <div id="Description"></div>
</div>

<div class="container">
    <div id="OurCareers"></div>
</div>
<hr>
<div class="container">
    <div id="OurJobs"></div>
</div>