@{
    ViewData["Title"] = "Index";
}

@section pageheader{
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Services</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col p-static">
                    <span class="page-header-title-border visible" style="width: 196.703px;"></span>
                    <div id="Title"></div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts{
    <script>
        Models.push(
            new Model("OurServices", "OurServices", "render_OurServices"),
        );
        call('https://localhost:44380/PageView/GetPages/', 'GET', { id: '585BBF52-A160-4DC0-8B51-B53649656F71' }, Models);
    </script>
}
    <div class="container">
        <div id="Description"></div>
    </div>

 
<div id="OurServices"></div>


