
@{
    ViewData["Title"] = "Index";
}

@section pageheader{
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Portfolio</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col p-static">
                    <span class="page-header-title-border visible" style="width: 196.703px;"></span>
                    <div id="Title"></div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts{
    <script>
        Models.push(
            new Model("OurPortfolios", "OurPortfolios", "render_OurPortfolios"),
        );
        call('https://localhost:44380/PageView/GetPages/', 'GET', { id: '9CA09EB3-9B94-4A20-A234-4099EA69B2C4' }, Models);
    </script>
}
    <div class="container">
        <div id="Description"></div>
    </div>

<div class="container">


    <div class="row" id="OurPortfolios">


    </div>


</div>