
@{
    ViewData["Title"] = "Index";
}

@section pageheader{
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col p-static">
                    <span class="page-header-title-border visible" style="width: 196.703px;"></span><h1 data-title-border="">Classic Medium</h1>

                </div>
            </div>
        </div>
    </section>
}

@section scripts{
    <script>
        Models.push(
            new Model("OurPortfolios", "OurPortfolios", "render_OurPortfolios"),
        );
        call('https://localhost:44380/PageView/GetPages/', 'GET', { id: '2146135F-3830-4C0C-A8F4-57F4D2752D20' }, Models);
    </script>
}

<div class="container">


    <div class="row" id="OurPortfolios">
             
             
        </div>
 

</div>