
@{
    ViewData["Title"] = "Index";
}

@section pageheader{
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Career</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col p-static">
                    <span class="page-header-title-border visible" style="width: 196.703px;"></span>
                    <div id="Title"></div>
                </div>
            </div>
        </div>
    </section>
}


@section scripts{
    <script>
        Models.push(
            new Model("WelovetoHelp", "WelovetoHelp", "render_WelovetoHelp"),
            new Model("BusinessHours", "BusinessHours", "render_BusinessHours"),
            new Model("OurOffice", "OurOffice", "render_OurOffice")
        );
        call('http://myportalagency.azurewebsites.net/api/PageView/GetPages/', 'GET', { id: 'EB9C2628-3F7E-44DD-8572-4AD0384A43D4' }, Models);
    </script>
}

<div class="container">
    <div id="Description"></div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <div class="col-md-6">
                    <label>Your name *</label>
                    <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name">
                </div>
                <div class="col-md-6">
                    <label>Your email address *</label>
                    <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Subject</label>
                        <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Message *</label>
                        <textarea maxlength="5000" data-msg-required="Please enter your message." rows="5" class="form-control" name="message" id="message"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <span id="ErrorText" style="color:red;font-weight:bold"></span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" id="SubmitMessage" onclick="" value="Send Message" class="CaptchaSubmit btn btn-primary btn-lg mb-xlg">
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <h2 class="mb-sm mt-sm">Let's <strong>talk</strong></h2>
            <p>Questions? Comments? We'd love to hear from you.<br>Please don't hesitate to get in touch</p>

            <div id="WelovetoHelp"></div>
            <hr>
            <div id="OurOffice"></div>
            <hr>
            <div id="BusinessHours"></div>

        </div>
    </div>
</div>