
@{
    ViewData["Title"] = "Index";
}

@section pageheader{
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col p-static">
                    <span class="page-header-title-border visible" style="width: 196.703px;"></span><h1 data-title-border="">Classic Medium</h1>

                </div>
            </div>
        </div>
    </section>
}

@section scripts{
    <script>
        Models.push(
            new Model("AboutUs", "AboutUs", "render_AboutUs"),
            new Model("PillarsofOurSuccess", "PillarsofOurSuccess", "render_PillarsofOurSuccess"),
            new Model("OurStory", "OurStory", "render_OurStory")
        );
        call('https://localhost:44380/PageView/GetPages/', 'GET', { id: 'BECDF8D9-26B7-46DF-91AC-DF57035EDC77' }, Models);
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-md-12 center">
            <p class="lead">
                Shine Infosoft is consistently serving global clients for web &amp; mobile app development services. For all possible technology platforms, we have qualified resources to work with.
            </p>

            <hr class="tall">
        </div>
    </div>
</div>

<div class="container">
    <div id="AboutUs"> </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr class="tall">
        </div>
    </div>
</div>
<div class="container">
    <div id="OurStory"> </div>
</div>

<div class="container">
    <div id="PillarsofOurSuccess"></div>
    
</div>